.logo {
    padding: 10px 20px;
}

@media(max-width: 1040px) {
    .ant-table-content {
        overflow-y: scroll;
    }
}

.ant-table-container::after {
    box-shadow: none !important;
}

#components-layout-demo-responsive .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
    background: #fff !important;
}

.site-layout-background {
    background: #fff;
}

.title_auth {
    text-align: center;
}

.content_block {
    box-shadow: 0 20px 27px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 20px 27px rgba(0, 0, 0, .05);
}

.task_detail_message_block {
    background: #fff;
    padding: 0 20px;
}

.messages_block {
    max-height: 800px;
    min-height: 400px;
    overflow-y: scroll;
    padding: 20px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #ddd;
    -webkit-box-shadow: inset 0 0 5px #ddd;
    background: #eef2f4 url(../public/assets/images/pattern_background.svg) 0 0 repeat;
}

.message_block_single {
    padding: 0 12px;
    display: inline-block;
    margin: 10px 0 10px 0;
    background-color: #fbfbfb;
    border: 1px solid #f0f0f0;
    transition: background 2s, border 2s;
    border-radius: 10px;
    max-width: calc(100% - 175px);
}

.file_item {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    color: #55afff;
    margin-right: 10px;
}

.file_item a {
    color: #4a4a4a;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 120px;
}

.notice_item .ant-alert-message {
    font-size: 14px;
}

.notice_item {
    margin-bottom: 10px;
    width: 250px;
}

.badge_count sup {
    background-color: #108ee9;
    box-shadow: none !important;
}